
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    color:#dad4c3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;  
}

.container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

h1 {
    margin: 0;
    text-shadow: 2px 1px rgb(151, 151, 148);
    font-size: 4rem;
}

.btn {
    margin: 4rem;
    padding: 0.7rem;
    font-weight: 700;
    text-decoration: none;
    color:#444444;
    font-family: Arial, sans-serif;
    border: none;
    background-color: #dad4c3;;
    border-radius: 5rem;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1rem; 
    display: inline-block;  /**ca sa functioneze translate - display: trebuie sa fie inline-block;*/
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.7rem 1.4rem 0 rgba(85, 110, 122, 0.5);
    transform: translateY(-0.2rem);  /**ca sa functioneze translate - display: trebuie sa fie inline-block;*/
}
.btn:focus {
    outline: none;
}



